@font-face {
    font-family: 'Oswald';
    src: url(Fonts/Oswald.ttf);
    font-family: 'Montserrat-light';
    src: url(Fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(Fonts/Montserrat-SemiBold.ttf);
}
html,body{
    overflow-x: hidden;
}

#full-body{
    display: none;
}
/* loader */
.loaderelement{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.spinner {
    margin: auto;
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 100%;
   }
   
   .spinner::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(63, 2, 50);
    animation: flip 1s infinite;
   }
   
   @keyframes flip {
    0% {
     transform: rotate(0);
    }
   
    50% {
     transform: rotateY(180deg);
    }
   
    100% {
     transform: rotateY(180deg)  rotateX(180deg);
    }
   }
/* loader */




.head-div{
    background: #000933;
}
#home{
    background: #edeffd;
    height: 45em;
}
.img-fluid{
    filter: drop-shadow(1px 1px 10px rgb(175, 175, 175));
    border-radius: 50%;
}
.detail-1{
    font-family: 'Oswald';
    letter-spacing: 0.1em;
    margin-left: 5rem;
    color: #000933;
    font-size: 2em;
    margin-top: 10px;
}
.quote{
    font-family: 'Montserrat-Light';
    margin-left: 5rem;
    color: #000933;
    font-size: medium;
}
.card-img-top{
    width: 30rem;
}
.skills{
    color: #000933;
}

.card{
    color: #000933;
}
.card:hover{
    background-color: #000933;
    color: white;
    box-shadow: none;
}
footer{
    background: #edeffd;
}
.social{
    padding-left: 32rem;
    color: #000933;
}
.font-oswald{
    font-family: 'Oswald';
}
.font-montserrat{
    font-family: 'Montserrat-light';
}
.font-montserrat-semiBold{
    font-family: 'Montserrat-SemiBold';
}
.nav-texts:hover{
    color: rgb(231, 231, 231);
}