@font-face {
    font-family: 'Oswald';
    src: url(Fonts/Oswald.ttf);
    font-family: 'Montserrat-light';
    src: url(Fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(Fonts/Montserrat-SemiBold.ttf);
}
html,body{
    overflow-x: hidden;
}
.head-div{
    background: #000933;
}
#home{
    background: #edeffd;
    height: 45em;
}
.img-fluid{
    filter: drop-shadow(1px 1px 10px rgb(175, 175, 175));
    border-radius: 50%;
}
.detail-1{
    font-family: 'Oswald';
    letter-spacing: 0.1em;
    margin-left: 5rem;
    color: #000933;
    font-size: 2em;
    margin-top: 10px;
}
.quote{
    font-family: 'Montserrat-Light';
    margin-left: 5rem;
    color: #000933;
    font-size: medium;
}
.card-img-top{
    width: 30rem;
}
.skills{
    color: #000933;
}

.card{
    color: #000933;
}
.card:hover{
    background-color: #000933;
    color: white;
    box-shadow: none;
}
footer{
    background: #edeffd;
}
.social{
    padding-left: 32rem;
    color: #000933;
}
.font-oswald{
    font-family: 'Oswald';
}
.font-montserrat{
    font-family: 'Montserrat-light';
}
.font-montserrat-semiBold{
    font-family: 'Montserrat-SemiBold';
}